<div class="signup-page">
  <h1>Sign up for BaseJump</h1>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div>
      <label for="user_name">Full Name</label>
      <input type="text" name="user[name]" id="user_name" required>
    </div>

    <div>
      <label for="user_username">Username</label>
      <input type="text" name="user[username]" id="user_username" required>
    </div>

    <div>
      <label for="user_email">Email</label>
      <input type="email" name="user[email]" id="user_email" required>
    </div>

    <div>
      <label for="user_password">Password</label>
      <input type="password" name="user[password]" id="user_password" required>
    </div>

    <button type="submit">Sign up</button>
  </form>

  <p>Already have an account? <a href="/session/new">Log in</a></p>
</div>